JobOpeningsMVCClient/Service References/JobSearchService/JobSearchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFJobSearchService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFJobSearchService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJobDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobDTO" nillable="true" type="tns:JobDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobDTO" nillable="true" type="tns:ArrayOfJobDTO" />
  <xs:complexType name="JobDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfVacancies" type="xs:int" />
      <xs:element minOccurs="0" name="PrimarySkill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobDTO" nillable="true" type="tns:JobDTO" />
  <xs:complexType name="ArrayOfRoleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleDTO" nillable="true" type="tns:RoleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleDTO" nillable="true" type="tns:ArrayOfRoleDTO" />
  <xs:complexType name="RoleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleDTO" nillable="true" type="tns:RoleDTO" />
</xs:schema>