JobOpeningsMVCClient/Service References/JobSearchService/JobSearchService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WCFJobSearchService/JobSearchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFJobSearchService" />
  <xs:element name="GetAllJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFJobSearchService" minOccurs="0" name="GetAllJobsResult" nillable="true" type="q1:ArrayOfJobDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFJobSearchService" minOccurs="0" name="GetJobsByRoleResult" nillable="true" type="q2:ArrayOfJobDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJobRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJobRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFJobSearchService" minOccurs="0" name="GetAllJobRolesResult" nillable="true" type="q3:ArrayOfRoleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>