JobOpeningsMVCClient/Service References/JobSearchService/JobSearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobSearchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WCFJobSearchService/JobSearchService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WCFJobSearchService/JobSearchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WCFJobSearchService/JobSearchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFJobSearchService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobSearchService_GetAllJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobs" />
  </wsdl:message>
  <wsdl:message name="IJobSearchService_GetAllJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IJobSearchService_GetJobsByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsByRole" />
  </wsdl:message>
  <wsdl:message name="IJobSearchService_GetJobsByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsByRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IJobSearchService_GetAllJobRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobRoles" />
  </wsdl:message>
  <wsdl:message name="IJobSearchService_GetAllJobRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobRolesResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobSearchService">
    <wsdl:operation name="GetAllJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobSearchService/GetAllJobs" message="tns:IJobSearchService_GetAllJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobSearchService/GetAllJobsResponse" message="tns:IJobSearchService_GetAllJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobsByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobSearchService/GetJobsByRole" message="tns:IJobSearchService_GetJobsByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobSearchService/GetJobsByRoleResponse" message="tns:IJobSearchService_GetJobsByRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJobRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobSearchService/GetAllJobRoles" message="tns:IJobSearchService_GetAllJobRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobSearchService/GetAllJobRolesResponse" message="tns:IJobSearchService_GetAllJobRoles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHTTPEndPoint" type="tns:IJobSearchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllJobs">
      <soap:operation soapAction="http://tempuri.org/IJobSearchService/GetAllJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobsByRole">
      <soap:operation soapAction="http://tempuri.org/IJobSearchService/GetJobsByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJobRoles">
      <soap:operation soapAction="http://tempuri.org/IJobSearchService/GetAllJobRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobSearchService">
    <wsdl:port name="basicHTTPEndPoint" binding="tns:basicHTTPEndPoint">
      <soap:address location="http://localhost/WCFJobSearchService/JobSearchService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>